<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Repositorio</title>
</head>

<body>
  <header>
    <h1>Lista de Repositorios</h1>
  </header>

  <div class="container">
    <div class="flash-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
              </div>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <!-- Sección para mostrar los top repositories -->
    <table>
      <caption>Top Repositorios</caption>
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Enlace</th>
              <th>Nº de veces añadido</th>
          </tr>
      </thead>
      <tbody>
          {% for repo in top_repositories %}
          <tr>
              <td>{{ repo.name }}</td>
              <td>{{ repo.github_link }}</td>
              <td>{{ repo.times_added }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
    <table>
      <caption>Tu lista</caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Detalles</th>
          <th>Ultima actualización</th>
        </tr>
      </thead>
      <tbody>
        {% if repos %}
          {% for repo in repos %}
            <tr>
              <td>{{ repo.name }}</td>
              <td><a href="/details/{{repo.id}}">Ver detalles</a></td>
              <td>{{ repo.last_update.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" class="no-repos">No se han añadido repositorios.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>


    <div class="actions">
      <a href='/logout' class="button">Logout</a>
      <a href="/add_repo/" class="button">Añadir Repsoitorio</a>
    </div>
  </div>
</body>
</html>
