<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Repositorio</title>
</head>

<body>
  <header>
    <h1>Lista de Repositorios</h1>
  </header>

  <div class="container">
    <div class="flash-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
              </div>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% if repos %}
          {% for repo in repos %}
            <tr>
              <td>{{ repo.name }}</td>
              <td><a href="/details/{{repo.id}}">Detalles</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2" class="no-repos">No se han añadido repositorios.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <div class="actions">
      <a href='/logout' class="button">Logout</a>
      <a href="/add_repo/" class="button">Add Repository</a>
    </div>
  </div>
</body>
</html>
