<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Repositorio</title>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}


<p>Area privada para admins </p>
<a href='/logout'>Logout</a>